<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/form_style.css">
    <link rel="stylesheet" href="/stylesheets/task_style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="show-main">
        <button class="go-back-btn">← Go back</button>
        <hr/>
        <h1 class="file-name"><%= filename.replace('.txt','') %></h1>
        <p class="file-data"><%= filedata %></p>
    </div>
</body>
<script>
    document.querySelector('.go-back-btn').addEventListener('click', function() {
        window.location.href = '/';
    });
</script>
</html>
