/* style.css */
.main {
    width: 100%;
    min-height: 100vh;
    background-color: #1e1e1e; /* Equivalent to bg-zinc-900 */
}

.form {
    padding: 2.5rem; /* Equivalent to p-10 */
    color: #ffffff; /* Equivalent to text-white */  
}

.input-text,
.textarea {
    display: block;
    padding-left: 1.25rem; /* Equivalent to px-5 */
    padding-right: 1.25rem; /* Equivalent to px-5 */
    padding-top: 0.5rem; /* Equivalent to py-2 */
    padding-bottom: 0.5rem; /* Equivalent to py-2 */
    width: 100%;
    border-radius: 0.375rem; /* Equivalent to rounded-md */
    outline: 2px solid #3b82f6; /* Equivalent to a blue outline */
    background-color: #272727; /* Equivalent to bg-zinc-900 */
    color: #ffffff;
}

.input-text {
    margin-bottom: 1rem; /* Add margin-bottom to separate title and textarea */
}

.textarea {
    resize: none;
    height: 180px; /* Increase the height of the textarea */
}

.submit-btn {
    margin-top: 1rem; /* Equivalent to mt-4 */
    background-color: #1d4ed8; /* Equivalent to bg-blue-600 */
    padding-left: 1.25rem; /* Equivalent to px-5 */
    padding-right: 1.25rem; /* Equivalent to px-5 */
    padding-top: 0.5rem; /* Equivalent to py-2 */
    padding-bottom: 0.5rem; /* Equivalent to py-2 */
    border-radius: 0.375rem; /* Equivalent to rounded-md */
    color: #ffffff;
}
